body > header,
body > footer,
#sidebar,
a.post-edit-link,
#post-series,
#respond {
	display: none;
}

html,
body,
#container,
#content,
.post,
.page,
.post-content {
	width: 100%;
	padding: 0;
	margin: 0;
	color: #000;
}

.post li {
	margin-bottom: 6pt;
}

.post-content a {
	text-decoration: none;
	border-bottom: solid 1pt #99f;
}

#content {
	border: none;
}

#content p,
#content ol,
#content ul,
#content li,
#content dl,
#content dd,
#content dt {
	font-size: 12pt;
}

.noprint {
	display: none;
}

.printonly {
	display: block;
}

.printcopyright,
.printurl {
	border: solid 1pt #000;
	font-size: 8pt;
	padding: 6pt;
	width: 80%;
	margin: 6pt auto;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.post-content a:after {
	content:" [URL: " attr(href) "] ";
}

/* Remove borders on image links */
.post-content a[href$=jpg]:after,
.post-content  a[href$=jpeg]:after,
.post-content  a[href$=jpe]:after,
.post-content  a[href$=png]:after,
.post-content  a[href$=gif]:after {
	content:"\A[Image location: " attr(href) "] ";
}

